[submodule "embree"]
	path = lib/embree
	url = https://github.com/embree/embree.git
	branch = master

[submodule "imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking

[submodule "glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
	branch = master

[submodule "glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
	branch = master

[submodule "glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
	branch = master

[submodule "spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = master

[submodule "imguifiledialog"]
	path = lib/imguifiledialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
	branch = master

